@charset "UTF-8";

*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
	font-size: calc(0.8em + 0.3vw);
	font-family: 'Roboto', sans-serif;
	background-color: #dedede;
	color: #222;
}

html, body {
	height: 100%;
}

body {
	display: grid;
	grid-template-rows: auto 1fr auto;
}

button {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
    cursor: pointer;
    transition: all .3s;
}

button:active {
	transform: translateY(1px);
	filter: saturate(150%);
	box-shadow: none;
}

a {
	font-weight: 700;
	text-decoration: none;
	position: relative;
}

a:after {
  content: '';
  display: block;
  border-bottom: 3px solid currentColor;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -3px;
  transition: .3s ease;
}

a:hover:after { 
  width: 0; 
}

header {
	background-color: #009ACD;
	color: #fefefe;
	padding: 1em;
	display: flex;
}

header h1 {
	display:flex;
	flex-grow: 1;
	font-family: 'Ubuntu', sans-serif;
	letter-spacing: -2px;
}

header div::first-letter {
	font-size: 2.5em;
	line-height: 0.25;
	letter-spacing: -6px;
}

header a {
	color: #fefefe;
	align-self: start;
	margin-right: .5em;
}

header a:hover {
	text-decoration: none;
}

footer {
	background-color: #333;
	color: #fefefe;
	padding: 2em 1em;
}